body {
    background-image: url("./img/faded-office.png");
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    font-size: xx-large;
    margin: 100px 100px;
}

.btn {
    background: #0ea5e9;
    border: none;
    color: white;
    font-size: 25px;
    margin-top: 30px;
    padding: 16px 32px;
}

#title {
    color: #020202;
}

.underline {
    border-bottom: 5px solid #0ea5e9;
}